extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io('//'+document.location.hostname+':'+document.location.port);
    socket.on('test', function(data){
      console.log(data);
    });

